:root {
  --main-bg-color: coral;
  --desktop: 992px;
  --medium-device: 600px;
  /* --small-device: 300px; */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*  larger screens */
html {
  font-size: 11px;
}

@media screen and (max-width: var(--medium-device)) {
  html {
    font-size: 9px;
  }
}

@media screen and (max-width: var(--desktop)) {
  html {
    font-size: 10px;
  }
}

input,
select {
  width: 100%;
  padding: 1.2rem 2rem;
  margin: 0.8rem 0;
  display: inline-block;
  border: 0.1rem solid #ccc;
  border-radius: 0.4rem;
  box-sizing: border-box;
  outline: none;
}

input.error,
select.error {
  border: 0.1rem solid red;
}

input[type="submit"],
button {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 1.4rem 2rem;
  margin: 0.8rem 0;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
  font-size: 1.5rem;
  line-height: 0.15rem;
  text-transform: capitalize;
  
}

input[type="submit"]:hover,
button:hover {
  background-color: #45a049;
}

button.btn--remove {
  color: black;
  background-color: #e6b265;
}

button.btn--remove:hover {
  background-color: #ec9109;
}

button.btn--primary {
  color: white;
  background-color: #292828;
}

button.btn--primary:hover {
  background-color: black;
}

button.btn--secondary {
  color: white;
  background-color: grey;
}

button.btn--secondary:hover {
  background-color: #413e3e;
}

label {
  font-size: 1.5rem;
  line-height: 0.15rem;
}

.app .app__header{
  /* padding: 3rem; */
  background-color: black;
  box-shadow: 3px 5px 5px 0px rgba(0,0,0,0.75);
  padding: 2rem;
  font-size: 2.4rem;
  font-weight: 500;
  padding: 3rem;
  color: white;
  text-align: center;
}

.app .app__main{
  padding: 3rem;
}

.app .app__main select{
  height: 40px;

}
.tasks-list {
  padding: 3rem;
  display: flex;
  flex-direction: column;
}

.tasks-list .task {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid grey;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 0.4rem;

}

.tasks-list .task input{
  flex-basis: 10%;
}

.tasks-list .task .task__name{
  padding: 0.5rem;
  margin: 0.5rem;
}